<!DOCTYPE html>
<html ng-app="app" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todd Motto Class</title>
    <script src="js/angular.js"></script>
    <style>
        .old {background:rgba(139, 59, 59, 0.671);}
        .modern {background: rgba(63, 63, 133, 0.521);}
        .new {background: rgba(55, 110, 55, 0.507);}
    </style>
</head>
<body>

    <div ng-controller="MainController as main">
        {{ main.name }} likes {{ main.likes }}
        <ul>
            <li 
            ng-class="{
                old: movie.year < 1995,
                modern: movie.year > 1995 && movie.year < 2000,
                new: movie.year > 2000
            }"
            ng-repeat="movie in main.favoriteMovies">
                <p> {{ movie.title }} {{ $index }} </p>
                <p> Released in: {{ movie.year }} </p>
                <input type="text" ng-model="movie.year">
                <p ng-show="movie.popular">This movie is popular</p>
                <p ng-show="movie.year > '2000'">This movie is new</p>
                <div ng-switch="movie.category">
                    <div ng-switch-when="action">
                        Action Movie!
                    </div>
                    <div ng-switch-when="thriller">
                        Thriller Movie!
                    </div>
                    <div ng-switch-when="fantasy">
                        Fantasy Movie!
                    </div>
                    <div ng-switch-default>
                        Movie has no category
                    </div>
                </div>

            </li>
        </ul>
    </div>

    <script src="js/app.js"></script>
    <script src="js/MainController.js"></script>
</body>
</html>